.body {
  padding: 0%;
}


.infotext {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;


}


.outputtext {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;


}


.Parent {
  display: flex;
  flex-direction: row;
}


.leftcol {
  width: 40%;
  height: 100;
  background-image: url("https://media.tenor.com/eUGNMYebEwoAAAAC/bleu-blanc-rouge-france.gif");
  background-size: 1500px;
  background-position: left;
  background-position: center;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 3%;
  border: rgb(13, 10, 208) solid 5px;
}


.rightcol {
  width: 60%;
  padding: 3%;
  height: 100vh;
  border: rgb(13, 10, 208) solid 5px;
  background-color: rgb(250, 37, 37);
}


.form {
  margin: 10px;
  height: 25px;
  font-size: 20px;
  width: 90%;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
}


.button {
  width: 30%;
  padding: 5%;
  margin: 3%;
  text-align: center;
  font-size: 20px;
}
